body {
    background-color: rgba(17, 9, 22, 0.911);
    margin: 0px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
}

/* ==== Navbar ==== */
nav {
    height: 200px;
}

nav ul a {
    font-size: 18px;
    text-shadow: 1.5px 1px 1px #98f74ceb;
}

/* Logo image */
.brand-logo {
    width: 200px;
    height: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.container {
    width: auto;
}

/* .video-container {
    max-width: 60%;
    max-height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
} */


/* Flash message */
.flashes h4 {
    line-height: 1.5;
    background-color: #b8bbb6eb;
    width: 50%;
    margin: auto;
}



/* ====== Search container ====== */

.search-panel {
    border-radius: 50px;
    background-color: #6d6d6d3b;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}

.search-container {
    margin-bottom: 0px;
}

/* RESET button */
.reset-button {
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    background-color: #634d62;
}

.reset-button:hover {
    background-color: #3c2b3b
}

/* SEARCH button */
.search-button {
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    background-color: #69b32eeb;
    ;
}

.search-button:hover {
    background-color: #376314eb;
}

/* ===== Page title ===== */
.page_title {
    color: rgb(255, 255, 255);
}

/* ===== Card panel ===== */
.card {
    margin: 5px;
    width: 22%;
    border: 2px ridge #98f74ceb;
}

.card-panel {
    border: 2px ridge #98f74ceb;
}

/* images */
.card .card-image img {
    height: 200px;
}

/* ==== BUTTONS ==== */

.btn-small {
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}

/* Open description button */
.open-description-btn {
    font-size: 15px;
    background-color: rgba(78, 163, 53, 0.801);
}

.open-description-btn:hover {
    background-color: rgb(13, 100, 20);
}

/* Close description button */
.close-description-btn {
    font-size: 13px;
    background-color: rgba(117, 47, 47, 0.801);
    border-radius: 20px;
}

.close-description-btn:hover {
    background-color: rgb(92, 19, 19);
}

/* Link button */
.extra-url-btn {
    font-size: 17px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: rgba(102, 100, 100, 0.63);
}

.extra-url-btn:hover {
    color: rgb(49, 49, 49);
}

/*  ==== FOOTER ====  */
footer {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 25px;
    text-align: center;
    font-size: 15px;
}

/* Social Links */
.social-links li a i {
    font-size: 1.8rem;
    color: #979797c2;
    padding: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
    color: #98f74ceb;
}

/* ==== Terms and Conditions ==== */
.terms_and_condition_text {
    color: rgb(162 162 162 / 82%);
}