body {
    background-color: rgba(17, 9, 22, 0.911);
    margin: 0px;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 25px;
}


.brand-logo {
    width: 200px;
    height: 200px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav {
    height: 200px;
}

nav ul a {
    font-size: 18px;
    text-shadow: 1.5px 1px 1px #98f74ceb;
}


/* .video-container {
    max-width: 60%;
    max-height: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
} */

.container {
    width: auto;
}

/* Flash message */
.flashes h4 {
    line-height: 1.5;
    background-color: #98f74ceb;
}

/* Cards */

.card {
    margin: 5px;
    width: 22%;
    border: 2px ridge #98f74ceb;
}

.card-panel {
    border: 2px ridge #98f74ceb;
}

.search-panel {
    border-radius: 50px;
    background-color: #6d6d6d3b;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    padding: 0px;
}

.search-container {
    margin-bottom: 0px;
}

.reset-button {
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    background-color: #634d62;
}

.reset-button:hover {
    background-color: #3c2b3b
}

.search-button {
    transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    background-color: #69b32eeb;
    ;
}

.search-button:hover {
    background-color: #376314eb;
}


/* .card-image {
    max-width: fit-content;
} */

.page_title {
    color: rgb(255, 255, 255);
}

.open_close_for_description_text {
    font-size: 15px;
    text-emphasis-style: none;
}

.open_close_for_description_text:hover {
    font-size: 17px;
    color: rgb(35, 173, 23);
    text-emphasis-style: none;
}



/*  ------------------------------FOOTER-----------------------------------  */
footer {
    position: absolute;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 25px;
    text-align: center;
    font-size: 15px;
}

.social-links li a i {
    font-size: 1.8rem;
    color: #979797c2;
    padding: 10px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.social-links li a i:hover {
    color: #98f74ceb;
}