<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="#" />
    {% block styles %}
    {% endblock %}
    <title>Travel reviews</title>
</head>

<body>

    <nav class="#000000 black">
        <!-- top navbar -->
        <div class="nav-wrapper">
            <a href="{{ url_for('get_destination') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo" class="brand-logo"> </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
            <ul class="right hide-on-med-and-down nav-text">
                <li><a href="{{ url_for('get_destination') }}">Our Travels</a></li>
                {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
                <li><a href="{{ url_for('add_destination') }}">Add destination</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <!-- mobile side navbar -->
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('get_destination') }}">Our Travels</a></li>
        {% if session.user %}
        <li><a href="{{ url_for('profile', username=session['user']) }}">My Profile</a></li>
        <li><a href="{{ url_for('add_destination') }}">Add destination</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>

        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
        {% endif %}
    </ul>

    <div>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <a href="{{ url_for('get_destination') }}" target="_blank" class="grey-text text-lighten-4">
                        <h5 class="travel-review-site-header">Travel Reviews Site</h5>
                    </a>
                    <a href="{{ url_for('terms_and_conditions') }}" target="_blank" class="terms-and-conditions-footer">Terms and Conditions</a>
                </div>
                <div class="col l4 offset-l2 s12 social-links-div">
                    <h6 class="white-text">Social links</h6>
                    <ul class="social-links">
                        <li class="display-inline"><a target="_blank" href="https://www.facebook.com/groups/653339188113854">
                                <i class="fab fa-facebook-f prefix"></i>
                                <span class="sr-only">Facebook</span>
                            </a></li>
                        <li class="display-inline"><a target="_blank" href="https://twitter.com/travel?lang=en">
                                <i class="fab fa-twitter prefix" aria-hidden="true"></i>
                                <span class="sr-only">Twitter</span>
                            </a></li>
                        <li class="display-inline">
                            <a target="_blank" href="https://ie.linkedin.com/">
                                <i class="fab fa-linkedin" aria-hidden="true"></i>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li class="display-inline"><a target="_blank" href="https://www.pinterest.com/">
                                <i class="fab fa-pinterest" aria-hidden="true"></i>
                                <span class="sr-only">Pinterest</span>
                            </a></li>
                        <li class="display-inline"><a target="_blank" href="https://www.instagram.com/">
                                <i class="fab fa-instagram" aria-hidden="true"></i>
                                <span class="sr-only">Instagram</span>
                            </a></li>
                        <li class="display-inline"><a target="_blank" href="https://www.youtube.com/watch?v=0DK-GoVkRjw">
                                <i class="fab fa-youtube" aria-hidden="true"></i>
                                <span class="sr-only">YouTube</span>
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Website created by Matea Leka &copy; 2021
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>