{% extends "base.html" %}
{% block content %}

<!-- video -->
<!-- <div class="video-container">
    <object width="560" height="315">
        <param name="movie" value=//www.youtube.com/embed/MyqhDKNig88?rel=0">
        </param>
        <embed src="//www.youtube.com/embed/MyqhDKNig88?rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true"></embed>
    </object>
</div>
<br> -->

<br>
<h4 class="center-align">All destinations</h4>
<br>


<div class="row flexbox">
    {% for place in destinations %}
    <div class="card hoverable col s2 m4 l3">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="responsive-img" src="https://www.france-voyage.com/visuals/photos/cambrai-13628_w500.jpg">
        </div>
        <div class="card-content">
            <span class="center-align card-title activator grey-text text-darken-4"><strong>{{ place.city }}, {{ place.country }}</strong> <i class="material-icons open_close_for_description_text right">Open for description</i></span> <br>
            <a href="#">
                <p>Link</p>
            </a>
            <!-- Hide the button is different user -->
            {% if session.user|lower == place.created_by|lower %}
            <div class="col s12 center-align">
                <a href="{{ url_for('edit_destination', place_id=place._id) }}" class="waves-effect waves-light btn-small"><i class="fas fa-edit"></i>Edit</a>
                <a class="waves-effect waves-light btn-small"><i class="fas fa-trash-alt left"></i>Delete</a>
            </div>
            {% endif %}
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ place.city }}, {{ place.country }} <i class="material-icons right open_close_for_description_text">Close</i></span>
            <p><strong>Travel description:</strong> {{ place.travel_description }}</p>
            <p><strong>Best memory:</strong> {{ place.best_memory }}</p>
            <p><strong>Advice to others:</strong> {{ place.advice }}</p>
            <p><strong> Period you travelled/stayed in this place:</strong> {{ place.due_date }}</p>
            <p><strong> Created by:</strong> {{ place.created_by }}</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}