{% extends "base.html" %}
{% block content %}

<br>
<h4 class="center-align page_title">Log In</h4>
<br>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel">
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15" class="validate" pattern="^[a-zA-Z0-9_]{5,15}$" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-key prefix"></i>
                    <input id="password" name="password" type="password" minlength="5" maxlength="15" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Log In button -->
            <div class="row">
                <button type="submit" class="col s4 offset-s4 m2 offset-m5 waves-effect waves-light btn submit_button_color">
                    Log In <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col s12 register-here-text">
        <p class="white-text center-align">
            New Here?
            <a href="{{ url_for('sign_up') }}" class="light-blue-text text-lighten-2"><strong>Register Here!</strong></a>
        </p>
    </div>
</div>


{% endblock %}