  {% extends "base.html" %}
  {% block content %}

  <div class="row">
      <div class="col s12 m8 offset-m2">
          <div class="card-panel">
              <h3 class="center-align light-blue-text text-darken-4">
                  {{ username }}'s Profile
              </h3>
          </div>
      </div>
  </div>


  <div class="flexbox">
      {% for place in destinations %}
      <div class="card hoverable">
          <div class="card-image waves-effect waves-block waves-light">
              <img src="{{ place.destination_image_url }}">
          </div>
          <div class="card-content">
              <!-- City, Country -->
              <span class="center-align card-title activator grey-text text-darken-4"><strong>{{ place.city }}, {{ place.country }}</strong>
                  <hr> <!-- Link to extra url -->
                  {% if place.extra_url|length > 0 %}
                  <a href="{{ place.extra_url }}" class="waves-effect waves-light extra-url-btn" target="_blank">
                      <i class="fas fa-link"></i>
                  </a>
                  {% endif %}
                  <!-- OPEN description button -->
                  <i class="btn open-description-btn">Travel description</i></span>

              <!-- Hide the button if different user -->
              {% if session.user|lower == place.created_by|lower %}
              <div class="col s12 center-align">
                  <a href="{{ url_for('edit_destination', place_id=place._id) }}" class="waves-effect waves-light btn-small"><i class="fas fa-edit"></i>Edit</a>
                  <a href="{{ url_for('delete_destination', place_id=place._id) }}" class="waves-effect waves-light btn-small"><i class="fas fa-trash-alt left"></i>Delete</a>
              </div>
              {% endif %}
          </div>
          <div class="card-reveal">
              <!-- CLOSE description button, City, Country -->
              <span class="card-title">{{ place.city }}, {{ place.country }}
                  <i class="btn-small fas fa-times close-description-btn right"></i>

                  <hr></span>
              <p><strong>Travel description:</strong> {{ place.travel_description }}</p>
              <p><strong>Best memory:</strong> {{ place.best_memory }}</p>
              <p><strong>Advice to others:</strong> {{ place.advice }}</p>
              <p><strong> Period you travelled/stayed in this place:</strong> {{ place.due_date }}</p>
              <p class="right"><em> Created by:</em> {{ place.created_by }}</p>

          </div>
      </div>
      {% endfor %}
  </div>


  {% endblock %}