{% extends "base.html" %}
{% block content %}


<br>
<h4 class="center-align page_title">TERMS AND CONDITIONS</h4>
<br>

<section class="terms_and_condition_text">
    <div>
        <p>These terms and conditions (the “Terms and Conditions”) govern the use of Travel reviews site (“the “Site”). This Site is owned and operated by Gille. This site is a travel blog in which you can leave the travel review(s) and read other people’s advices.
            By using this Site, you indicate that you have read and understand these Terms and Conditions and agree to abide by them at all times.
        </p>
    </div>

    <div>
        <h5>Intellectual property</h5>
        <p>All URL addresses published and made available on the Site are the property of the third party and are used just for learning purposes. This includes, but is not limited to images and logos. Other parts are written by Gille with the help of her colleagues, mentors and tutors.
            This Site is created as a part of the third milestone project of the Code Institute and has no intention in violating the rights of the third parties.
        </p>
    </div>
    <div>
        <h5>Acceptable Use</h5>
        <p>As a user of the Site, you agree to use the Site legally, not to use the Site for illegal purposes and not to:
        </p>
        <ul>
            <li>
                - Harass or mistreat other users of the Site;
            </li>
            <li>
                - Violate the rights of other users of the Site;
            </li>
            <li>
                - Violate the intellectual property rights of the Site owners or any third party to the Site; </li>
            <li>
                - Hack into account of another user of the Site;
            </li>
            <li>
                - Act in any way that could be considered fraudulent; or
            </li>
            <li>
                - Post any material that may be deemed inappropriate or offensive.
            </li>
        </ul>
        <p>If we believe you are using the Site illegally or in a manner that violates these Terms and Conditions, we reserve the right to limit, suspend or terminate your access to our Site.
        </p>
    </div>
    <div>
        <h5>User Contributions:</h5>
        <p>User may post the following information on our Site:</p>
        <ul>
            <li>
                - Pubic reviews about the new destinations,
            </li>
            <li>
                - Comments,
            </li>
            <li>
                - URL photo links of the destinations.
            </li>
        </ul>
        <p>By posting publicly on our Site, you agree not to act illegally or violate these Terms and Conditions.</p>
    </div>
    <div>
        <h5>Accounts</h5>
        <p>When you create an account on our Site, you agree to the following:</p>
        <ol>
            <li>
                You won’t leave and personal and sensitive information on this site. This site is for entertainment purposes and it doesn’t require any sensitive information as passwords, bank details or similar,
            </li>
            <li>
                You’re solely responsible for your account and the security and privacy of your account, including passwords or sensitive information attached to that account.
            </li>
        </ol>
    </div>
    <div>
        <h5>User Goods and Services</h5>
        <p>Our Site doesn’t allow users to sell goods and services. We do not assume any responsibility for any advices or tips nor we can guarantee the quality and accuracy of any information. However, if we are made aware that a user is violating these Terms and Conditions, we reserve the right to suspend or prohibit the user from posting on our Site.</p>
    </div>
    <div>
        <h5>Contact Details</h5>
        <p>If anything delivered hereunder are held to infringe a third party’s patent, utility model, design, trademark or other intellectual property right, please contact me on the following email: matea.leka@gmail.com</p>
    </div>
    <br>
    <div>
        <p>Effective Date: 2nd of May 2021</p>
    </div>
    <br>
</section>
{% endblock %}